@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #222;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  font-weight: 600;
  font-size: 2.2rem;
  background: steelblue;
  color: #fff;
  margin: 0;
  line-height: 1.1;
  padding: 1.5rem 0;
}

a {
  color: #fff;
  text-decoration: none;
}

.selected {
  color: #fff;
  background: steelblue;
}

#colorDisplay {
  font-size: 2.1rem;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
}

.square-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 35rem;
  margin: 0 auto;
}

.square {
  position: relative;
  width: 100%;
  height: 7rem;
  border-radius: 2rem;
  transition: background 0.5s;
  --webkit-transition: background 0.5s;
  --moz-transition: background 0.5s;
  cursor: pointer;
}

.square svg {
  position: absolute;
  width: 3.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.square svg path {
  fill: #eef;
}

#stripe {
  background: #ddd;
  height: 2.7rem;
  text-align: center;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  padding: 0.7rem;
  color: steelblue;
  letter-spacing: 1px;
  font-size: 1.2rem;
  transition: all 0.5s;
  --webkit-transition: all 0.5s;
  --moz-transition: all 0.5s;
  outline: none;
  cursor: pointer;
}

button:hover {
  color: #fff;
  background: steelblue;
}

.mode:not(:last-child) {
  margin-right: 1rem;
}

.reset {
  display: block;
  margin: 3rem auto 0 auto;
  background-color: #eee;
  color: steelblue;
  padding: 1rem 1.4rem;
  border-radius: 0.7rem;
}

@media screen and (max-width: 37.5rem) {
  h1 {
    font-size: 1.85rem;
    line-height: 1.5;
  }

  #stripe {
    height: 2.9rem;
  }

  button {
    font-size: 1.1rem;
  }

  #colorDisplay {
    font-size: 1.75rem;
  }

  .square-container {
    width: 25rem;
  }

  .square svg {
    width: 2.7rem;
  }

  .reset {
    padding: 1rem;
  }
}

@media screen and (max-width: 26.875rem) {
  .square-container {
    gap: 0.7rem;
    width: 20rem;
  }

  .square {
    height: 6rem;
  }

  .square svg {
    width: 2.5rem;
  }
}
